[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<5"
psycopg = "*"
djangorestframework = "*"
luhn = "*"
django-environ = "*"
dj_database_url = "*"
whitenoise = "*"
gunicorn = "*"
django-health-check = "*"
pydantic = "*"
schedule = "*"
requests = "*"
backoff = "*"
asyncio = "*"
django-widget-tweaks = "*"
opencv-python = "*"
pytesseract = "*"
pypdf2 = "*"
pytest = "*"
responses = "*"
freezegun = "*"
python-dateutil = "*"
django-simple-history = "*"
django-storages = "*"
boto3 = "*"
openpyxl = "*"
pygsheets = "*"
pandas = "*"
pika = "*"
redis = "*"
web3 = "*"
py-etherscan-api = "*"
tronpy = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-django = "*"
pyright = "*"
isort = "*"
flake8 = "*"
pyproject-flake8 = "*"
django-stubs = "*"
freezegun = "*"
ansible = "*"
responses = "*"
djlint = "*"
openpyxl = "*"


[requires]
python_version = "3.11.4"
